.header {
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  top: 0;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.card__content {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.propositions {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.propositions:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
}

.start__text {
  font-size: 2rem;
}

.start__button {
  cursor: pointer;
  background-color: rgba(24, 24, 24, 0.6);
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.start__button:hover {
  background-color: rgba(24, 24, 24, 1);
}

.header__content {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.header__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../public/background.jpg');
  background-size: cover;
  height: 780px;
}

.diagrams {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer {
  background-color: rgba(24, 24, 24);
  color: white;
  padding: 1rem;
  min-height: 6rem;
}

.copyright {
  font-size: 12px;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__right {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

